@model AcunmedyaAkademiPortfolio.Models.TblSkill
@{
    ViewBag.Title = "GetSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yetenek Güncelleme Sayfası</h2>
<br />
<form method="post">
    @Html.HiddenFor(x => x.SkillId)

    <label>Yetenek</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <span class="text-danger">@Html.ValidationMessageFor(x => x.Name)</span>
    <br />
    <label>Yetenek Oranı</label>
    @Html.TextBoxFor(x => x.Percentage, new { @class = "form-control" })
    <span class="text-danger">@Html.ValidationMessageFor(x => x.Percentage)</span>
    <br />

    <button class="btn btn-primary">Güncelle</button>

</form>


