@model AcunmedyaAkademiPortfolio.Models.TblProject
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Proje Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x=>x.ProjectId)

    <label>Proje Adı</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <span class="text-danger">@Html.ValidationMessageFor(x => x.Name)</span>
    <br />
    <label>Görsel Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <span class="text-danger">@Html.ValidationMessageFor(x => x.ImageUrl)</span>
    <br />
    <label>Proje Açıklaması</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <span class="text-danger">@Html.ValidationMessageFor(x => x.Description)</span>
    <br />
    <label>GitHub Url</label>
    @Html.TextBoxFor(x => x.GithubUrl, new { @class = "form-control" })
    <span class="text-danger">@Html.ValidationMessageFor(x => x.GithubUrl)</span>
    <br />
    <label>Kategori</label>
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
    <span class="text-danger">@Html.ValidationMessageFor(x => x.CategoryId)</span>
    <br />

    <button class="btn btn-primary">Güncelle</button>

</form>

